@media(max-width:1200px){
    .menu{
        &_item{
            padding-right: 20px !important;
            
        }
        &_link{
            font-size: 11px;
        }
    }
    .promo{
        &_header{
            font-size: 50px;
        }
    }
    .resons{
        &_block{
            align-items: flex-start;
        }
        &_text{
                width: 340px
        }
      
    }
    .mobile_item{
        width: 300px;
    }
    .midel_car{
        width: 284px;
        margin-left: -50px;
    }
    .world{
        .white{
                margin-left: 450px;
        }
        
    }
    .vector{
        left: 35%;
    }
}
@media(max-width:991px){
    .menu {
            &_item {
                padding-right: 9px !important;
    
            }
    
            &_link {
                font-size: 12px !important;
            }
        }

   .subheader{
    &_logo{
        img{
            width: 100%;
        }
    }
    &_official{
        font-size: 11px;
    }
    
  
   &_phone{
    font-size: 18px !important;
   }
   .subheder_btn{
     width: 140px;
     background-color: red;
   }
}
.promo{
    &_header{
        font-size: 40px !important;
    }
}
  .resons {
      &_block {
        flex-direction: column !important;
          align-items: center !important;

 
             }       
            

     &_around{
        width: 120px !important;
  
     }  
     
     

     &_text{
        width: 335px;
     }




     &_decs{
        margin-top: 20px;
     }
            }   
            
            

}
@media(max-width:767px) {
    .menu{
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top:0;
        left: -100%;
        width: 50%;
        height: 100%;
        padding: 20px 15px;
        background: rgba(0,0,0 ,  .8);
        transition: 0.6s all;
      
  &_active{
    left: 0;
  }
    &_item{
        padding-right: 0;
        border: none !important;
        margin: 10px 0;
       
    }    
    &_link{
        font-size: 20px !important;
    }
    }
   
    .hamburger{
        display: block;
        position: absolute;
        right: 10px;
        top:50%;
        transform: translateY(-50%);
        height: 12px;
        width: 26px;
        
        span{
            display: block;
            height: 2px;
            width: 100%;
            background-color:#fff;
           
            margin-bottom: 2px;
            transition: 0.5s all;
        }
        &_active{
            span{
                
                margin-bottom: -2px;
                &:nth-child(1){
                    transform:  translateY(3px) rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform: translateY(3px) rotate(45deg);
                }

            }
        }
                 
    }

    .xs-hidden{
        display: none;
    }
  .subheader_btn{
    width: 300px !important;
        height: 28px !important;
        background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
        border: 3px solid rgba(0, 0, 0, 0.06);
        box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  }
    .promo{
        &_header{
            
            line-height: 45px !important;
        }
        
    }

    
}
@media(max-width:575px){
    .subheader{
        &_official{
            display: none;
        }
        &_logo{
            margin-top: 27px !important;

        }
    }
    .subheader_btn{
            // width: 100px !important;
        
      }
   .resons{
    &_text{
        width: 289px;
    }
   }
     
  .promo{
    min-height: 400px;
    padding: 170px 0px 35px 0px !important;

    &_descor{
        display: none;
    }
    
  &_header{
    font-size: 30px !important;
    padding:  0px 24px;
    line-height: 35px;
  }  
  &_subheder{
    font-size: 20px !important;
    margin-top: 33px;
    padding: 0px 13px;
    line-height: 30px;
  }
  &_btn{
    margin-bottom: 34px !important;
    margin-top: 72px !important;
    border: none !important;
    width: 216px !important;
        height: 56px !important;
  }
  }
  .menu{
    width: 100%;
  }
  .info_company_btn{
    margin-top: 20px;
    margin-left: 33% !important;
  }
  .prefer-company{

        font-size: 16px;
        line-height: 48px;
       
       
   
       
  }
  
  .resons{
    padding: 22px 0 36px 0px;
    &_block{
        margin-top: 36px;
    }
    &_around{
        width: 100px !important;
        height: 100px !important;
    }
  &_decs{
   
    margin-top: 27px;
  
  }
}
  .midel{
    &_car{
        width: 300px;
            height: 190px;
            margin-top: 35px;
            margin-right: 4px;
           
    }
    &_subtitle{
        display: none;
    }
    &_prefer{
        display: none;
    }
    &_info_car{
    margin-top: 61px;

    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    }
  }
  .world{
min-height: 360px;

padding: 25px 0 30px 0;
  }
  .white{
    margin-bottom: 25px;
    background-color: #fff;
    color:#000; 
    text-align: center;
  }
  .media{
    line-height: 11px !important;
  }
  .world_link{
    font-size: 19px;
    bottom: 8px !important;
  }
  .vector{
    width: 253px;
        height: 4px;
       margin: 25px -80px;
      
  }
  .footer{
    .pay{
        position: absolute;
        width: 260px;
            height: 24px;
        margin-top: 173px;
        left: 10px;
       
    }
    .mes{
       
        margin-top:121px;
        margin-left: 20px;

    }
    .menu_footer{
       
            font-size: 14px;
           white-space: nowrap;
            font-weight: 300;
            text-transform: uppercase;
            color: #070716;
            margin-left: -372px;
            gap:28px;
    }
  }
  .subtitle_footer{
   
    // margin-bottom: 130px;

  }
  .pro{
    display: none;
  }
  .jop{
   display: none;
  }
  .subnav{
    display: none;
  }
}
