@charset "UTF-8";
* {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 50px;
  background-color: #212121;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu .menu_link {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 20px;
}
.menu .menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  width: 100%;
  top: 50px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader .subheader_official {
  opacity: 0.5;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 6px;
}
.subheader .subheader_call {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  text-align: right;
}

.subheader_call {
  margin-top: 19px;
}

.subheader .subheader_phone {
  display: block;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
  line-height: 12px;
}
.subheader .subheder_btn {
  margin-top: 19px;
  width: 178px;
  height: 52px;
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  border-radius: 4px;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.subheader .subheder_btn:hover {
  background-image: none;
  background-color: #1eacc7;
  transition: 0.5s ease;
  border: none;
}

.promo {
  padding: 150px 0px 135px 0px;
  min-height: 800px;
  background: url("/img/Layer 3.png") center center/cover no-repeat;
}
.promo .promo_header {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 60px;
  /*
  Text styles for "ПРИГЛАШАЕМ ВОДИТЕЛЕЙ! НА СВОЕМ АВТО!"
  */
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
.promo .promo_subheder {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}
.promo .promo_descor {
  margin-top: 23px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 265px;
  height: 69px;
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  border-radius: 4px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.11);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
.promo .promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
  transition: 0.5s ease;
  border: none;
}

.info_company_btn {
  width: 112px;
  margin-left: 47%;
  height: 24px;
  background-color: #000000;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.info_company_btn:hover {
  background-image: none;
  background-color: #1eacc7;
  transition: 0.5s ease;
  border: none;
}

.subtitle {
  margin-top: 19px;
  font-size: 17px;
  font-weight: 400;
  color: #222222;
  text-align: center;
}

.prefer-company {
  font-family: Roboto;
  text-align: center;
  font-size: 38px;
  line-height: 75px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
}

.resons_block {
  display: flex;
  flex-direction: row;
  padding: 30px;
}
.resons_block .resons_around {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.resons_text {
  line-height: 21px;
  font-weight: 400;
  color: #1eacc7;
  width: 400px;
  /*
  Text styles for "Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена."
  */
  font-size: 15px;
  font-weight: 300;
  color: #202020;
}

.resons_block .resons_decs {
  padding-left: 26px;
}

.title_desk {
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  color: #1eacc7;
}

.mobile {
  min-height: 864px;
  padding: 48px 0px 79px 0px;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url("../img/Rectangle 19 copy 2.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/Rectangle 19 copy 2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/Rectangle 19 copy 2.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/Rectangle 19 copy 2.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/Rectangle 19 copy 2.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/Rectangle 19 copy 2.png") center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
}
.mobile_item_plus::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}
.mobile_item_plus::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
}
.mobile_item_plus:hover::before, .mobile_item_plus:hover::after {
  transition: 0.3 all;
  background-color: #ff5e5e;
}

.midel {
  height: 499px;
  background-color: #070716;
}
.midel_btn {
  background-color: #fff;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #070716;
  text-align: center;
}
.midel_btn:hover {
  background-image: none;
  background-color: #1eacc7;
  transition: 0.5s ease;
  border: none;
}
.midel_prefer {
  color: #fff;
}
.midel_subtitle {
  color: #fff;
}
.midel_car {
  margin-left: 60px;
  margin-top: 57px;
}
.midel_info_car {
  font-size: 17px;
  font-weight: 300;
  color: #222222;
  text-align: center;
}

.btn_require {
  margin-top: 420px;
}

.require {
  padding: 69px 0px 84px 0px;
}
.require_block {
  margin: 33px 0px;
}
.require_nmb {
  margin-bottom: 0;
}
.require_title {
  color: #1eacc7;
  font-size: 22px;
  font-weight: 400;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.require_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 40%;
  transform: translateY(-50%);
  transform: translate(-5px, -2px);
  width: 21px;
  height: 20px;
  background: url("../img/check-solid.svg") center center/cover no-repeat;
}
.require_list_descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1eacc7;
}
.require .warning .require_title {
  color: #ff5e5e;
}
.require .warning .require_list li::before {
  background: url("../img/check-solid.svg") center center/cover no-repeat;
}

.world {
  position: relative;
  min-height: 717px;
  padding: 49px 0;
  background: url("../img/map.jpg");
}
@media (max-width: 1000) {
  .world {
    background-color: red;
  }
}
.world_link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 68px;
  text-transform: uppercase;
  color: #1fbad6;
}
.world_link:hover {
  text-decoration: none;
  color: #fff;
}
.world .info_company_btn {
  text-align: center;
}

.vector {
  position: absolute;
  display: block;
  left: 41%;
  margin-top: 30px;
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
}

.footer {
  margin-top: 51px;
  margin-bottom: 64px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message {
  display: flex;
  gap: 7.4px;
}

.mes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  background-color: #070716;
}

.prefer_white {
  color: #fff;
}

.pay {
  order: 3;
}

.footer_nav {
  order: 2;
}

.menu_footer {
  display: flex;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #070716;
  gap: 40px;
  order: 2;
  align-items: center;
  justify-content: center;
}

.subnav {
  display: flex;
  gap: 21px;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  color: #999999;
}

.subtitle {
  margin-right: 70px;
  text-align: center;
  color: #1eacc7;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px !important;
  }
  .menu_link {
    font-size: 11px;
  }
  .promo_header {
    font-size: 50px;
  }
  .resons_block {
    align-items: flex-start;
  }
  .resons_text {
    width: 340px;
  }
  .mobile_item {
    width: 300px;
  }
  .midel_car {
    width: 284px;
    margin-left: -50px;
  }
  .world .white {
    margin-left: 450px;
  }
  .vector {
    left: 35%;
  }
}
@media (max-width: 991px) {
  .menu_item {
    padding-right: 9px !important;
  }
  .menu_link {
    font-size: 12px !important;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 11px;
  }
  .subheader_phone {
    font-size: 18px !important;
  }
  .subheader .subheder_btn {
    width: 140px;
    background-color: red;
  }
  .promo_header {
    font-size: 40px !important;
  }
  .resons_block {
    flex-direction: column !important;
    align-items: center !important;
  }
  .resons_around {
    width: 120px !important;
  }
  .resons_text {
    width: 335px;
  }
  .resons_decs {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    padding: 20px 15px;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    padding-right: 0;
    border: none !important;
    margin: 10px 0;
  }
  .menu_link {
    font-size: 20px !important;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 12px;
    width: 26px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .subheader_btn {
    width: 300px !important;
    height: 28px !important;
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    border: 3px solid rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  }
  .promo_header {
    line-height: 45px !important;
  }
}
@media (max-width: 575px) {
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 27px !important;
  }
  .resons_text {
    width: 289px;
  }
  .promo {
    min-height: 400px;
    padding: 170px 0px 35px 0px !important;
  }
  .promo_descor {
    display: none;
  }
  .promo_header {
    font-size: 30px !important;
    padding: 0px 24px;
    line-height: 35px;
  }
  .promo_subheder {
    font-size: 20px !important;
    margin-top: 33px;
    padding: 0px 13px;
    line-height: 30px;
  }
  .promo_btn {
    margin-bottom: 34px !important;
    margin-top: 72px !important;
    border: none !important;
    width: 216px !important;
    height: 56px !important;
  }
  .menu {
    width: 100%;
  }
  .info_company_btn {
    margin-top: 20px;
    margin-left: 33% !important;
  }
  .prefer-company {
    font-size: 16px;
    line-height: 48px;
  }
  .resons {
    padding: 22px 0 36px 0px;
  }
  .resons_block {
    margin-top: 36px;
  }
  .resons_around {
    width: 100px !important;
    height: 100px !important;
  }
  .resons_decs {
    margin-top: 27px;
  }
  .midel_car {
    width: 300px;
    height: 190px;
    margin-top: 35px;
    margin-right: 4px;
  }
  .midel_subtitle {
    display: none;
  }
  .midel_prefer {
    display: none;
  }
  .midel_info_car {
    margin-top: 61px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
  }
  .world {
    min-height: 360px;
    padding: 25px 0 30px 0;
  }
  .white {
    margin-bottom: 25px;
    background-color: #fff;
    color: #000;
    text-align: center;
  }
  .media {
    line-height: 11px !important;
  }
  .world_link {
    font-size: 19px;
    bottom: 8px !important;
  }
  .vector {
    width: 253px;
    height: 4px;
    margin: 25px -80px;
  }
  .footer .pay {
    position: absolute;
    width: 260px;
    height: 24px;
    margin-top: 173px;
    left: 10px;
  }
  .footer .mes {
    margin-top: 121px;
    margin-left: 20px;
  }
  .footer .menu_footer {
    font-size: 14px;
    white-space: nowrap;
    font-weight: 300;
    text-transform: uppercase;
    color: #070716;
    margin-left: -372px;
    gap: 28px;
  }
  .pro {
    display: none;
  }
  .jop {
    display: none;
  }
  .subnav {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */